<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="bg-image"
			style="background-image: url('https://www.freevector.com/uploads/vector/preview/28143/Education_Background_vector_5.jpg'); height: 100vh;">
			<div class="text-center">
				<h1 class="border border-secondary bg-dark text-white">
					WELCOME TO<br>STUDENTS MANAGEMENT SYSTEM
				</h1>
			</div><br />&nbsp;<br /> 
			<div class="row ">
				<div class="col-lg-3">
					<a th:href="@{/students/new}" class="btn btn-success btn-lg mb-6 btn-block">
						Add student</a><br> 
					<a th:href="@{/students}" class="btn btn-secondary btn-lg mb-6 btn-block">
						List of students</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>